
<h3>Display all details of Books -- Component 1</h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Name &nbsp; - &nbsp;&nbsp; Price - &nbsp;&nbsp; Author - &nbsp;&nbsp; No of Pages </b>
<!--Display contents from batches array-->
<ul *ngFor="let value of books">
  {{value.Name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{value.Price}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{value.Author}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{value.Noofpages}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  
</ul>